@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    List<string> trends = ViewBag.Trends as List<string>;
   
}

<style>
    .btn-oval{
        border-radius : 50%;
    }
</style>

<form class="d-flex" role="search">
    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
</form>

@if (trends != null)
{
    @for (int i = 0; i < 5; i++)
    {
        <button type="button" class="btn btn-outline-info p-2 m-2">@trends[i]</button>
    }
}


<div class="card">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        @* <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> *@
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        @* <a href="#" class="card-link">Card link</a> *@
        
    </div>
</div>

